mixin cardSingle(info)
  each item in info
    .main__make_services--items(class=`${item[0]}`)
      .main__make_services--items-icon
        i.fa(class="fa-"+`${item[0]}`)
      .main__make_services--items-title
        h4 #{item[1]}
      .main__make_services--items-content
        p #{item[2]}
      .main__make_services--items-callBtn
        a(href="#" target="blank") #{item[3]}
