//- variables generales del proyecto
-celContact="+57 314 723 40 97"
-empresa='ITS Solutions'
-pages=['Inicio', 'Servicios', 'Proyectos', 'Nosotros']
-sites=['./', '#servicios', '#proyectos', '#nosotros']
//- -services=['sitiosWeb', 'apps', 'motionGraphics', 'animacion']
//- -serviceSites=['manada.html', 'tropa.html', 'comunidad.html', 'clan.html']
//- -servicesImg=['manada.png', 'images/tropa.png', 'images/comunidad.png', 'images/clan.png']
-pageTitle='Soluciones Tecnológicas'
-siteTitle= empresa
-description=''
-sizeImgServices=300
