mixin contacto(texto, txt, telefono, movil, placeHolder)
  .heroWrap-infoContacto_contact
    .title
      p #{texto}
    .subtitle
      p #{txt}
    .numbers
      //- p.numbers-phone1 #{telefono}
      //- i.icon.fab.fa-whatsapp
      p.numbers-phone2 #{movil}
        //- i.icon.fab.fa-whatsapp
        a(href="http://wa.me/15205856282?text=Quiero%20cambiar%20mi%20vida" class="whatsapp" target="_blank")
          //- i.icon.fa.fa-phone-alt
          //- i.icon.fab.fa-whatsapp
    .boton
      a(href='https://gmail.us20.list-manage.com/subscribe?u=21d40e75d11736adc0caeff00&id=b2dd40be9a' target="blank") #{placeHolder} #[i.icon.fa.fa-envelope]

