//- - var campo
mixin formContact(titulo, [datos] )
  .containerForm
    h2 #{titulo}
    form(id="form" action="#")
      each item in datos
        if `${item[1]}`==1
          .inputBox
            input(type="text", required="required")
            label #{item[0]}
        else if `${item[1]}`==2
          .inputBox
            input(type="email", required="required")
            label #{item[0]}
        else if `${item[1]}`==3
          .inputBox.inputMail
            input(type="text", name="", id="email", required="required", onkeydown="validation()")
            span#text
            label #{item[0]}
        else if `${item[1]}`==4
          .inputBox
            textarea(required="")
            label #{item[0]}
        else
          .inputBox
            input.noRequired(type="text")
            label #{item[0]}
      .inputBox
        input(type="submit", value="Enviar")
      .note
        p (*) Campos obligatorios
